body {
	margin: 0;

	font-family: 'Roboto', sans-serif;
}



/* NAVBAR */
navbar {
	width: 100%;
	position: fixed;
	z-index: 2;
	box-sizing: border-box;
	padding: 0 10% 0 10%;

	font-family: 'Roboto Mono', monospace;

	background: #00796b;
}
navbar ::selection {
	background: #00796b;
	color: #fff;
}
navbar p {
	display: inline;
	padding: 20px 20px 20px 20px;

	color: #fff;
}
navbar a {
	display: inline-block;
	padding: 20px 20px 20px 20px;

	text-decoration: none;

	color: #fff;
}
navbar a:hover {
	background: #fff;
	color: #00796b;
}


/* GRID
Put .col-objects into a .row-objects
add .cX to the .col-objects.
the object will have a width of (100% / X)

Yeah that's how I do it. Change it, if it bugs you.
*/

.row {
	display: block;
	box-sizing: border-box;
	overflow: auto;
}
.row .col {
	display: inline-block;
	float: left;
	box-sizing: border-box;
}
.row .col.c1 {
	width: 100%;
}
.row .col.c2 {
	width: 50%;
}
.row .col.c3 {
	width: 33.3333%;
}
.row .col.c4 {
	width: 25%;
}
.row .col.c5 {
	width: 20%;
}
.row .col.c6 {
	width: 16%;
}
