/********GENERAL********/

/*Sticky footer (Making the footer behave properly)*/
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
/*End*/


body {
	background
}

/*Navbar*/
.content {
	padding: 0 20% 0 20%;
}

.navbar-logo {
	height: 50px;
	vertical-align: middle;
}

#header {
	margin-top: 0;
	margin-bottom: 50px;
	padding: 0% 25% 0% 25%;
}

/*Footer*/
.page-footer img {
	height: 50px;
}

.page-footer .col {
	text-align: center;
}

.page-footer .footerLinks{
	font-size: 15px;
}

/********END OF GENERAL********/

/******** aboutUs.html ********/
.profileCardHolder {
	margin-bottom: 50px;
	cursor: default;
}

.profileCardHolder .card {
	overflow: hidden;
}

.card-image {
	height: 200px;
	width: 200px;
}

/******** END OF aboutUs.html ********/

/*index.html*/
.content {
	text-align: center;
}

.content .container {
	background-color: red;
	text-align: center;
}

.content .container img {
	height: 500px; 
} 

.content .container h1 {
	font-size: 100px;
}

/*END OF index.html*/
